@font-face {
    font-family: 'ExoBold';
    src: url('fonts/exo-bold-webfont.eot');
    src: url('fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/exo-bold-webfont.woff') format('woff'),
    url('fonts/exo-bold-webfont.ttf') format('truetype'),
    url('fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('fonts/ptn57f.eot');
    src: url('fonts/ptn57f.eot') format('embedded-opentype'),
    url('fonts/ptn57f.woff') format('woff'),
    url('fonts/ptn57f.ttf') format('truetype'),
    url('fonts/ptn57f.svg#PTSansNarrowRegular') format('svg');
}

@font-face {
    font-family: 'MerriweatherSansRegular';
    src: url('fonts/merriweathersans-regular-webfont.eot');
    src: url('fonts/merriweathersans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/merriweathersans-regular-webfont.woff') format('woff'),
    url('fonts/merriweathersans-regular-webfont.ttf') format('truetype'),
    url('fonts/merriweathersans-regular-webfont.svg#merriweather_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    /*background: #2c3e50;*/
    background: #BDC3C7;
}

* {
    outline: none;
}

.wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

.no-margin {
    margin: 0;
}

/* <HEADER> */
.logo {
    font-family: ExoBold, Helvetica, sans-serif;
    text-shadow: 0.07em 0.05em #303440;
    color: #C0392B;
}

.logo span {
    color: #F1C40F;
}

div.header form{
    padding-top: 1em;
}

.header .fui-search {
    font-size: 22px;
    text-shadow: 0.07em 0.05em #303440;
    color: #F1C40F;
}

a.search {
    position: absolute;
    top: 0.5em;
    right: 1em;
}
/* </HEADER> */

/* <FRAME> */
.popular {
    margin-bottom: 3em;
}

#popularFrame {
    height: 200px;
    line-height: 200px;
}

#popularFrame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 200px;
    font-size: 50px;
}

.popular button.col-xs-1 {
    padding-left: 0;
    padding-right: 0;
}

#popularFrame ul li {
    float: left;
    width: 190px;
    height: 190px;
    margin: 0 1px 0 0;
    padding: 0;
    background-color: #3981B2;
    color: #3a3c47;
    text-align: center;
    cursor: pointer;
}

#popularFrame ul li div {
    position: absolute;
    font-size: 1em;
    color: #3f5666;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-size: 110%;
}

#popularFrame ul li div > * {
    display: none;
}

#popularFrame ul li.active:hover div > * {
    display: block;
} 

#popularFrame ul li div p {
    padding-left: 0.2em;
    padding-top: 0.5em;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

#popularFrame ul li div p span {
    display: block;
}

#popularFrame ul li div p a {
    display: inline-block;
    margin: 0 auto;
    font-size: 80px;
    color: #ea6044;
    line-height: 80px;
    position: absolute;
    bottom: 20px;
    left: 60px;
}

#popularFrame ul li.active {
    color: #fff;
    background: #ea6044;
}

.popular .scrollbar {
    margin: 0 auto 30px;
    width: auto;
    height: 2px;
    line-height: 0;
}

.popular .scrollbar .handle {
    width: 100px;
    height: 100%;
    background: #fff;
    cursor: pointer;
}

.popular .scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

.popular .controls {
    text-align: center;
    margin-top: 1em;
}

.popular button {
    background: transparent;
    color: #ffffff;
    text-shadow: 0.07em 0.05em #7F8C8D;
    border: 0;
}

.popular button.backward,.popular button.forward{
    height: 200px;
    font-size: 40px;
}

.popular .controls button {
    font-size: 20px;
}

/* 3D shenanigans */
#popularFrame {
    height: 200px;
    line-height: 200px;
    -webkit-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

#popularFrame ul {
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#popularFrame ul li {
    position: relative;
    margin: 0 -25px;
    border: 1px solid #3e404a;
    -webkit-transform: rotateY(60deg) scale(0.9);
    -ms-transform: rotateY(60deg) scale(0.9);
    transform: rotateY(60deg) scale(0.9);
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
}

#popularFrame ul li img {
    width: 188px;
    height: 190px;
}

#popularFrame ul li.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#popularFrame ul li.active ~ li {
    -webkit-transform: rotateY(-60deg) scale(0.9);
    -ms-transform: rotateY(-60deg) scale(0.9);
    transform: rotateY(-60deg) scale(0.9);
}
/* End 3D */

/* START Category Toggles */ 
.category-toggles.container {
    text-align: center;    
}

.category-toggles.container .btn-group {
    float: none;
}

.category-toggles i[class*="icon-"] {
    margin-right: 0.6em;
}

#high-rated-toggle {
    background-color: #e74c3c;
}

#high-rated-toggle:hover
#high-rated-toggle.active {
    background-color: #c0392b;
}

#addictive-toggle {
    background-color: #e67e22;
}

#addictive-toggle:hover,
#addictive-toggle.active {
    background-color: #d35400;
}

#viral-toggle {
    background-color: #3498db;
}

#viral-toggle:hover,
#viral-toggle.active {
    background-color: #2980b9;
}

#all-toggle {
    background-color: #2ecc71;
}

#all-toggle:hover,
#all-toggle.active {
    background-color: #27ae60;
}

.category-toggles a {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.category-toggles a.active,
.category-toggles a:hover {
    filter: none;
    -webkit-filter: none;
}

/* END Category Toggles */

/* START Video Grid */

#video-grid {
    margin-top: 4em;
}

#video-grid .video {
    width:  200px;
    height: 200px;
    float: left;
    display: inline-block;
    background-color: #333;
    margin-bottom: 20px;
}

#video-grid .video.w2 { width: 420px; }

#video-grid .video.h2 { height: 300px; }

#video-grid .video.high-rated {
    background-color: #C0392B;
}

#video-grid .video.addictive {
    background-color: #d35400;
}

#video-grid .video.viral {
    background-color: #2980b9;
}

.video img {
    width: 80%;
}

.video div.title {
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
}

.video div.views {
    position: absolute;
    width: auto;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 14px;
}

.video div.rate {
    position: absolute;
    width: auto;
    bottom: 5px;
    left: 5px;
    color: #fff;
    font-size: 14px;
}

.video div.shares {
    position: absolute;
    width: auto;
    bottom: 5px;
    left: 40%;
    color: #fff;
    font-size: 14px;
}
/* END Video Grid */


